*
{
    margin:0;
}

.logo
{
    margin-left: 2em;
    margin-top: 3em;
}
.logo img
{
    width:9em;
}
.head1
{
    height:8em;
}
.dropdown
{
    margin-top:2.5em;
    margin-left:6em;
    padding-left:0em;
    font-weight: bold;
    color:black;
}

.icons
{
    display:flex;
    flex-direction: row;
    cursor:pointer;
    padding-top: 1em;
}
.icon{
    padding-left:5em;
}
body
{
    overflow-x: hidden;
    margin:0;
}
.secone
{
    background-color:white;
    margin-top: 1.5em;
}
.card:hover
{
    -webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow:0;
}





.text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer {
    background: #212529;
  }
  
  
  
